:root {
    font-size: 90%;

    --bg-color: #4f4f4f;
    --text-color: white;
    --icon-color: blue;
}

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

/* Body - CSS Grid -- START */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.75rem;

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

header {
    background-color: rgb(108, 107, 107);
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;

    grid-column: 2;
    grid-row: 1 / 2;

}
/* HEADER - CSS Grid -- START */
    header > * {
        height: 100%;
        width: 100%;
        border: 1px solid white;
    }
/* HEADER - CSS Grid -- END */


main {
    background-color: rgb(67, 65, 65);
    height: 100%;
    width: 100%;
      
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-column: 2;
    grid-row: 2 / 3;
}
/* MAIN - CSS Grid -- START */
    main > * {
        height: 100%;
        width: 100%;
        border: 1px solid white;
    }

    main .projects {
        grid-row: 1 / span 2;
    }
/* MAIN - CSS Grid -- END */


nav {

    grid-column: auto;
    grid-row: 1 / 3;

    background-color: black;
    
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;

    /* width: fit-content; */
    min-height: 100vh;
    padding: 1rem 2rem 1rem 2rem;


}


/* BODY - CSS Grid END */
img {
    height: 2.5rem;
    width: 2.5rem;

    color: aliceblue;
}

li {
    list-style-type: none;

    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

li img {
    margin-right: 1.5rem;
}

ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
}

ul.logo img {
    height: 4rem;
    width: 4rem;
}

ul.logo li {
    font-size: 2.5rem;
}


