:root {
    font-size: 90%;

    --bg-color: #4f4f4f;
    --text-color: white;
    --icon-color: blue;
}

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

/* Body - CSS Grid -- START */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.75rem;

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

header {
    background-color: rgb(108, 107, 107);
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;

    grid-column: 2;
    grid-row: 1 / 2;

}
/* HEADER - CSS Grid -- START */
    header > * {
        height: 100%;
        width: 100%;
        border: none;
    }
/* HEADER - CSS Grid -- END */


main {
    background-color: rgb(67, 65, 65);
    height: 100%;
    width: 100%;
      
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-column: 2;
    grid-row: 2 / 3;
}
/* MAIN - CSS Grid -- START */
    main > * {
        height: 100%;
        width: 100%;
        border: 1px solid white;
    }

    main .projects {
        grid-row: 1 / span 2;
    }
/* MAIN - CSS Grid -- END */


nav {

    grid-column: auto;
    grid-row: 1 / 3;

    background-color: black;
    
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;

    /* width: fit-content; */
    min-height: 100vh;
    padding: 1rem 2rem 1rem 2rem;


}


/* BODY - CSS Grid END */
img {
    height: 2.5rem;
    width: 2.5rem;

}

    .profile-pic{
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
    .big-profile-pic{
        border-radius: 50%;
        /* height: 5rem;
        width: 5rem; */
    }

li {
    list-style-type: none;

    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

li img {
    margin-right: 1.5rem;
}

ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
}

ul:not(.logo){
    cursor: pointer;
}

ul.logo img {
    height: 4rem;
    width: 4rem;
}

ul.logo li {
    font-size: 2.5rem;
}

/* MAIN - Content Containers -- START */
.projects-container {
    display: flex;

}

.announcements-container {
    display: flex;

}

.trending-container {
    display: flex;
    
}
/* MAIN - Content Containers -- END */

/* HEADER - Content Containers -- START */

.search-bar {
    display: flex;
    justify-content: start;
    align-items: center;

    padding-left: 2rem;

    grid-column: span 2;
}

    .search-bar img {
        cursor: pointer;
    }

    .search-bar input {
        margin-left: 1rem;
        border-radius: 99rem;
        border: none;
        outline: none;

        height: 2rem;
        width: 100%;
        margin-right: 10rem;
        padding-left: 1rem;

        transition: all 0.2s;

    }

.profile-corner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .profile-corner img {
        cursor: pointer;
    }

    .profile-corner > * {
        margin: 0 1rem 0 1rem;
    }

.profile-welcome{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;

    padding-left: 3rem;
}
    .profile-welcome img {
        grid-row: 1 / span 2;
        justify-self: center;
        align-self: center;

        height: 7rem;
        width: 7rem;
        padding: 0.5rem;
        margin-right: 1rem;
    }

    .profile-welcome span {
        justify-self: start;
        align-self: end;

        font-size: 67%;
        margin-bottom: 0.25rem;
    }

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-column: span 2;

    padding-left: 20rem;
    padding-right: 15rem;
}
    .buttons button {
        height: 2.5rem;
        width: 10rem;
        border-radius: 99rem;
        border: none;

        cursor: pointer;
    }

/* HEADER - Content Containers -- END */

